<div class="top-bar" centerTitle>
    <mwc-top-app-bar-fixed centerTitle>
        <mwc-icon-button icon="menu" slot="navigationIcon"></mwc-icon-button>
        <div slot="title" class="jrg-header-title"><span>
            <strong>Second Ave.net</strong> - Pokemon, Silver, Collectibles, Crypto
        </span></div>
        <mwc-icon-button icon="favorite" slot="actionItems"></mwc-icon-button>
        <div><!-- content --></div>
    </mwc-top-app-bar-fixed>
    <div>
        <i class="fa fa-bars"></i>
    </div>
</div>